<div id="offcanvas-menu" data-uk-offcanvas="flip: true; overlay: true">
    <div class="uk-offcanvas-bar uk-background-primary">
        <button class="uk-offcanvas-close" type="button" uk-close></button>
        <div class="uk-flex uk-flex-column uk-flex-between uk-height-1-1">

        </div>
    </div>
</div>