@charset 'utf-8';
//*------------------------------------*\
//    #FRAMEWORK MIXINS
//\*------------------------------------*/
@import './../../node_modules/breakpoint-sass/stylesheets/breakpoint';
@import './../../node_modules/uikit/src/scss/mixins';

//*------------------------------------*\
//    #SETTINGS
//\*------------------------------------*/
//\*------------------------------------*/
$global-font-family: 'Overpass', sans-serif;
@import './../../node_modules/uikit/src/scss/variables';
// @import './settings/variables';

///*------------------------------------*\
//    #FRAMEWORK OVERRIDES/TEMPLATE
//\*------------------------------------*/
// @import './uikit/base';
// @import './uikit/text';
// @import './uikit/heading';
// @import './uikit/navbar';
// @import './uikit/form';
@import './../../node_modules/uikit/src/scss/uikit';

///*------------------------------------*\
//    #COMPONENTS
//\*------------------------------------*/
@import './components/site-header';
@import './components/site-footer';
// @import './components/transitions';


///*------------------------------------*\
//    #THIRD PARTY
//\*------------------------------------*/


.u-letterspacing-2{
    letter-spacing: 2px;
}
.u-letterspacing-3{
    letter-spacing: 3px;
}
.u-letterspacing-4{
    letter-spacing: 4px;
}
.u-letterspacing-5{
    letter-spacing: 5px;
}
.u-letterspacing-6{
    letter-spacing: 6px;
}
.u-letterspacing-7{
    letter-spacing: 7px;
}
.u-letterspacing-8{
    letter-spacing: 8px;
}
.u-letterspacing-9{
    letter-spacing: 9px;
}
.u-letterspacing-10{
    letter-spacing: 10px;
}



